:root{
    --gris: #516063;
    --verde: #81D2C7;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
}


.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    text-align: center;
}


/* login */
.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

/* Lado izquierdo */
.izquierda{
    margin-top: 5rem;
    border-radius: 6px;
    background-color: var(--verde);
    margin-bottom: 10rem;
    padding: 10rem;
}

/* Lado derecho */
.derecha{
    margin-top: 5rem;
    background-color: var(--gris);
    margin-bottom: 10rem;
    align-items: center;
    border-radius: 6px;
}

.derecha-form{
    margin-top: 5rem;
    text-align: left;
}

input{
    text-align: left;
    padding-left: -1rem;
    outline: none;
}
 .linea {
  background-color: rgba(250, 250, 250, 0.631);
  border-top: 1px solid white;
  height: 1px;
  max-width: 80%;
  padding: 0;
  margin: 1rem 0 2rem 2rem; 
}

.forma input{
    display: flex;
    background-color: transparent;
    border: none;
    margin: 1rem 0 1rem 1rem; 
    margin-left: 2rem;
    color: white;
    font-weight: bold;
    max-width: 80%;
}


.email{
    text-align: left;
}

.texto-izquierda{
    text-align: center;
    text-transform: uppercase;
}

.sub-texto-izquierda{
    text-align: center;
    font-size: medium;
    color: white;
}
/*Botones*/
.botonLogin{
    font-size: 15px;
    color: white;
    background: #81D2C7;
    border: 0px;
    border-radius: 15px ;
    padding: 0.5rem 5rem 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: bolder;
}
.botonLogin:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 1.5px 1.5px #416788;
}


/*hipervinculo*/
.x{
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    border-bottom-color: white; 
}
.enlace{
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-family: "Font Awesome 5 Free";
    padding:5px;
    margin-left: 0.5rem;   
}

.button{
    background-color: transparent;
    border: none;
}
.enlace::before{
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.x:hover{
    border-bottom-color: #81D2C7;
}
.enlace:hover::before{
    color: #81D2C7;
}

/*checkbox*/
.checkbox2{
    justify-content:space-around;
}
.checkbox2 label{ /*texto: Forgot your Password*/
    padding-left: 1.3em;
    position:relative;
    color: white;
    font-size: 15px;
    font-family: 'Poppins' ,sans-serif;
    font-weight: 600;
    cursor: pointer;
    left: 25px;
    top: -20px;/*en esta parte hay se le puede configurar la altura del texto*/
    
}
.checkbox2 input[type="checkbox"]{/*cuadrito donde aparece el check*/
    
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color:#d5d5d5;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 2rem;
}
.checkbox2 input[type="checkbox"]:after{/*se pone la forma junto con sus caracteristicas*/
    font-family: "Font Awesome 5 Free";/*fuente para que se vea el check*/
    content: "\f00c";
    font-size: 20px;
    font-weight: 900;
    color: white ;
    display: none;
      
}
/*color del cuadrito al seleccionar la opcion de : forgot....*/
.checkbox2 input[type="checkbox"]:checked{ 
    background: #0774D9;
}
.checkbox2 input[type="checkbox"]:checked::after{
    display: block;
}

