*{
    margin: 0px;
    padding: 0px
}
.section{
    display: flex

}

.derechaArriba{
    display: flex;
    justify-content: space-between;
}


.from{
    display: inline
}
.clearfix{
    clear:both
}

.izquierda h1{text-align:center}
.izquierda h2{text-align:center}